.container{
  padding: 3%;
  width: 30%;
  height: 50vh;
  margin: auto;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
  
}

h1{
  text-align: center;

}

textarea{
  border: 2px solid black;
  border-radius: 10px;
  max-width: 80%;
  
}